@CHARSET "UTF-8";

body .hidden {
	display: none;
}

body .main {
	height: inherit;
	padding-top: 45px;
	padding-left: 35px;
	width: 720px;
}

body .main-title {
	font-family: "맑은 고딕";
	font-size: 21px;
	font-weight: bold;
	color: #646464;
	padding-left: 25px;
	background: url("../images/icon-main-title.png") no-repeat;
}

body .breadcrumb {
	display: inline-block;
	font-family: "돋움", Arial, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #979797;
}

body .breadcrumb>ul {
	overflow: auto;
}

body .breadcrumb>ul>li {
	float: left;
	padding-left: 10px;
	background: url("../images/icon-path.png") left center no-repeat;
}

body .breadcrumb>ul>li:first-child {
	padding-left: 20px;
	background: url("../images/icon-home.png") left center no-repeat;
}
/* =========================구조를 이용한 스타일============================= */
body .table-container {
	border-top: 2px solid #8CBA35;
}

body .table-container table {
	width: 100%;
}

body .table-container table tr {
	height: 33px;
	line-height: 33px;
}

body .table-container table td {
	border-bottom: 1px solid #E9E9E9;
}
/* =========================이름을 이용한 스타일============================= */
body .table-container1 {
	border-top: 2px solid #8CBA35;
}

body .table {
	width: 100%;
}

body .tr {
	height: 33px;
	line-height: 33px;
}

body .td {
	border-bottom: 1px solid #E9E9E9;
}